#  Pandas Homework 
##  Heroes of Pymoli

In [1026]:
#Import required dependencies
import pandas as pd
import numpy as np
file_to_load = "Resources/purchase_data.csv"
df = pd.read_csv(file_to_load)

In [1027]:

%%HTML
<style type="text/css">
table.dataframe td, table.dataframe th {
    border: 1px  black solid !important;
  color: black !important;
}
</style>

# Player Count

In [1028]:
#Get unique count of names
uniquecount = df["SN"].nunique()

In [1029]:
#Conver data to a DataFrame
count_df = pd.DataFrame([uniquecount],columns = ["Total Players"])

In [1030]:
#Display the result as a dataframe
count_df

   Total Players
0            576

# Purchasing Analysis(Total)

In [1031]:
#Get Unique count of items
uniqueitems = df["Item Name"].nunique()

In [1032]:
#Conver data to a DataFrame
item_df = pd.DataFrame([uniqueitems],columns = ["Number Of Unique Items"])

In [1033]:
#Get average price 
avg_price = df["Price"].mean()

In [1034]:
#Get the counts of purchase Id
purchasecount = df["Purchase ID"].count()

In [1035]:
#Get the total sum of price
sum = df["Price"].sum()

In [1036]:
#Create a list of the above values
data = [[uniqueitems,"$"+str(avg_price),purchasecount,"$"+str(sum)]]

In [1037]:
#Load the values in a new dataframe
resultdf = pd.DataFrame(data, columns=["Number Of Unique Items","Average Price","Number Of Purchases","Total Revenue"])

In [1038]:
#Display the results
resultdf

,Number Of Unique Items,Average Price,Number Of Purchases,Total Revenue
0,179,$3.050987179487176,780,$2379.77

# Gender Demographics
## Percentage and Count of Male Players
## Percentage and Count of Female Players
## Percentage and Count of Other / Non-Disclosed

In [1039]:
#create a new dataframe by dropping duplicate names for purpose of analysis
new_df = df.drop_duplicates(subset="SN")

In [1040]:
#count the unique values of gender and assign it to a dataframe
count_df = new_df["Gender"].value_counts().reset_index()

In [1041]:
#calculate the percentage of each gender by using normalized = True and assign it to a dataframe
percent_df = new_df["Gender"].value_counts(normalize=True).reset_index()

In [1042]:
#compute the percentages by multiplying with 100 and assign it to a new column named "Percentage of Players"
percent_df["Percentage Of Players"] = percent_df["Gender"]*100

In [1043]:
#Round of the column "Percentage of players" to two decimals
percent_df["Percentage Of Players"] =  percent_df["Percentage Of Players"].round(decimals=2)

In [1044]:
#Delete the column "gender"
del percent_df["Gender"]

In [1045]:
#convert the column "percentage of players" to a string and append the percent symbol
percent_df["Percentage Of Players"] = percent_df["Percentage Of Players"].astype(str)+"%"

In [1046]:
#merge the two dataframes 
gender_df = count_df.merge(percent_df)

In [1047]:
#Update the column names
gender_df.columns=["","Total Number Of Players","Percentage Of Players"]

In [1048]:
#Display Final Result
gender_df

                          Total Number Of Players Percentage Of Players
0                   Male                      484                84.03%
1                 Female                       81                14.06%
2  Other / Non-Disclosed                       11                 1.91%

# Purchasing Analysis (Gender)
## Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
## Create a summary data frame to hold the results
## Optional: give the displayed data cleaner formatting
## Display the summary data frame

In [1049]:
# group dataframe df by the column Gender
gender_stats_df = df.groupby("Gender")

In [1050]:
#Count the number of purchases made by each gender
purchase_count = gender_stats_df["Purchase ID"].count()

In [1051]:
#Calculate the average purchase price by gender
avg_purchase_price = gender_stats_df["Price"].mean()

In [1052]:
#Calculate the sum of total purchases
total_purchase_value = gender_stats_df["Price"].sum()

In [1053]:
#Counts the total number of players by gender
total_count_df = new_df["Gender"].value_counts()

In [1054]:
#calculate the average purchase per person by dividing total purchase value by total count of players in each gender

avg_purchase_per_person = total_purchase_value/total_count_df

In [1055]:
#create summary dataframe with all the values calculated
summary_df = pd.DataFrame({
    "Purchase Count":purchase_count,
    "Average Purchase Price":avg_purchase_price,
    "Total Purchase Value": total_purchase_value,
    "Average Purchase Price Per Person":avg_purchase_per_person
})

In [1056]:
#Display the summary dataframe
summary_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Price Per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

# Age Demographics
##  Establish bins for ages
##  Categorize the existing players using the age bins. Hint: use pd.cut()
##  Calculate the numbers and percentages by age group
##  Create a summary data frame to hold the results
##  Optional: round the percentage column to two decimal points
##  Display Age Demographics Table

In [1057]:
#Create a list of all the age ranges as bins
bins = [0,9,14,19,24,29,34,39,50]

In [1058]:
#Create a list of labels for each groups
group_names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

In [1059]:
#use the pd.cut method to categorize the rows based on age groups and add a new column called "Age Group"
df['Age Group'] = pd.cut(df['Age'],bins,labels = group_names)

In [1060]:
#Group the dataframe by the new column 'Age Group' and create a new  dataframegroupby object
agegroup_df = df.groupby('Age Group')

In [1061]:
#Count the number of unique occurences of names in each  'Age Group'
age_group_count=agegroup_df['SN'].nunique()

In [1062]:
#Count number of purchases in each group
total_count = agegroup_df['Purchase ID'].count()

In [1063]:
#Count total number of players in the initial dataframe
totalplayers = df["SN"].nunique()

In [1064]:
#Calculate the percentage of players in each group
percentplayers = age_group_count/totalplayers*100

In [1065]:
#Round percentage of players to two decimal places
percentplayers = percentplayers.round(decimals=2)

In [1066]:
#Add Percentage symbol as a suffix to the percentage column. Convert the datatype of the column to string
percentplayers = percentplayers.astype(str)+"%"

In [1067]:
#Summarize the age demographics as a new dataframe
age_group_summary=pd.DataFrame(
    {
        "Total Count" : age_group_count,
        "Percentage Of Players": percentplayers
    }
)

In [1068]:
#Display the results
age_group_summary

           Total Count Percentage Of Players
Age Group
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

# Purchasing Analysis (Age)
## Bin the purchase_data data frame by age
## Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below
## Create a summary data frame to hold the results
## Optional: give the displayed data cleaner formatting
## Display the summary data frame

In [1069]:
#Count the number of purchases
purchase_count = agegroup_df["Purchase ID"].count()

In [1070]:
#Compute the average purchase price
average_purchase_price = agegroup_df["Price"].mean()

In [1071]:
# Round average purchase price to two decimal places
average_purchase_price = average_purchase_price.round(decimals=2)

In [1072]:
#convert the average_purchase_price column to a string datatype and prefix a dollar sign
average_purchase_price = "$"+average_purchase_price.astype(str)

In [1073]:
#Find the total puchase price
total_purchase_price = agegroup_df["Price"].sum()

In [1074]:
#find the average purchase per person by dividing total_purchase_price by age_group_count
avg_purchase_per_person =total_purchase_price/age_group_count

In [1075]:
#Round average purchase per person to two decimal places
avg_purchase_per_person = avg_purchase_per_person.round(decimals=2)

In [1076]:
avg_purchase_per_person

Age Group
<10      4.54
10-14    3.76
15-19    3.86
20-24    4.32
25-29    3.81
30-34    4.12
35-39    4.76
40+      3.19
dtype: float64

In [1077]:
#Convert the column to a string datatype and prefix the dollar sign
avg_purchase_per_person= "$"+avg_purchase_per_person.astype(str)

In [1078]:
#Summarize the results by creating a new dataframe

age_group_purchase_summary=pd.DataFrame(
    {
        "Purchase Count" : purchase_count,
        "Average Purchase Price":average_purchase_price,
        "Total Purchase Value":total_purchase_price,
        "Avg Total Purchases Per Person":avg_purchase_per_person
        
    }
)

In [1079]:
#Display the results
age_group_purchase_summary

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchases Per Person
Age Group,,,,
<10,23,$3.35,77.13,$4.54
10-14,28,$2.96,82.78,$3.76
15-19,136,$3.04,412.89,$3.86
20-24,365,$3.05,1114.06,$4.32
25-29,101,$2.9,293.00,$3.81
30-34,73,$2.93,214.00,$4.12
35-39,41,$3.6,147.67,$4.76
40+,13,$2.94,38.24,$3.19

# Top Spenders
## Run basic calculations to obtain the results in the table below
## Create a summary data frame to hold the results
## Sort the total purchase value column in descending order
## Optional: give the displayed data cleaner formatting
## Display a preview of the summary data fram

In [1080]:
#group the dataframe df by name ("SN")
topspenders_df = df.groupby("SN")

In [1081]:
#Find the count of the top spenders
top_purchase_count = topspenders_df["Purchase ID"].count()

In [1082]:
#Find the average purchase price per person
avg_purchase_price_person = topspenders_df["Price"].mean()

In [1083]:
#Find the total purchase value 
total_purchase_value = topspenders_df["Price"].sum()

In [1084]:
#Round the total purchase value to 2 decimal places
total_purchase_value = total_purchase_value.round(decimals=2)

In [1085]:
#Round the average purchase price person to two decimal places
avg_purchase_price_person = avg_purchase_price_person.round(decimals=2)

In [1086]:
#Summarize the results by creating a new dataframe

top_spenders_summary=pd.DataFrame(
    {
        "Purchase Count" : top_purchase_count,
        "Average Purchase Price":avg_purchase_price_person,
        "Total Purchase Value":total_purchase_value,
      
        
    }
)

In [1087]:
#Sort the dataframe on Total Purchase Value in descending order
top_spenders_summary = top_spenders_summary.sort_values(by='Total Purchase Value',ascending=False)

In [1088]:
#Prefix the dollar sign to the Total Purchase Value column
top_spenders_summary["Total Purchase Value"] = "$"+top_spenders_summary["Total Purchase Value"].astype(str)

In [1089]:
#Prefix the dollar sign to the Average Purchase Price column
top_spenders_summary["Average Purchase Price"] = "$"+top_spenders_summary["Average Purchase Price"].astype(str)

In [1090]:
#Display Results
top_spenders_summary

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                   $3.4               $13.62
Iskadarya95               3                  $4.37                $13.1
...                     ...                    ...                  ...
Ililsasya43               1                  $1.02                $1.02
Irilis75                  1                  $1.02                $1.02
Aidai61                   1                  $1.01                $1.01
Chanirra79                1                  $1.01                $1.01
Alo38                     1                   $1.0                 $1.0

[576 rows x 3 columns]

# Most Popular Items
## Retrieve the Item ID, Item Name, and Item Price columns
## Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value
## Create a summary data frame to hold the results
## Sort the purchase count column in descending order
## Optional: give the displayed data cleaner formatting
## Display a preview of the summary data frame

In [1091]:
#Create a new dataframe with the required columns

item_df = df[["Item ID","Item Name","Price"]]

In [1092]:
#Create a dataframe groupby by grouping on Item ID and Item Name
item_group_df =item_df.groupby(["Item ID","Item Name"])

In [1093]:
#Count the number of items purchased by Item ID
item_purchase_count = item_group_df["Item ID"].count()

In [1094]:
#Find the sum of the price for each item
item_purchase_value = item_group_df["Price"].sum()

In [1095]:
#Calculate the item price for each item
item_price = item_purchase_value/item_purchase_count

In [1096]:
#Round ItemPrice to two decimal places
item_price = item_price.round(decimals=2)

In [1097]:
#Round Item Purchase Value to two decimal places
item_purchase_value = item_purchase_value.round(decimals=2)

In [1098]:
# Summarize the results as a new dataframe
item_group_purchase_summary=pd.DataFrame(
    {
        "Purchase Count" : item_purchase_count,
        "Item Price":item_price,
        "Total Purchase Value":item_purchase_value,
        
        
    }
)

In [1099]:
#Sort the  results dataframe on Purchase Count column in descending order
item_group_purchase_summary = item_group_purchase_summary.sort_values(by='Purchase Count',ascending=False)

In [1100]:
#Sort the results dataframe on total purchase value column to get the most profitable items
most_profitable_items = item_group_purchase_summary.sort_values(by='Total Purchase Value',ascending=False)

In [1101]:
#Prefix the dolar sign to the total purchase column
item_group_purchase_summary["Total Purchase Value"] = "$"+item_group_purchase_summary["Total Purchase Value"].astype(str)

In [1102]:
#Prefix the dollar sign to the Item Price Column
item_group_purchase_summary["Item Price"] = "$"+item_group_purchase_summary["Item Price"].astype(str)

In [1103]:
#Display the results
item_group_purchase_summary

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
...,...,...,...,...
42,The Decapitator,1,$1.75,$1.75
51,Endbringer,1,$4.66,$4.66
118,"Ghost Reaver, Longsword of Magic",1,$2.17,$2.17
104,Gladiator's Glaive,1,$1.93,$1.93
91,Celeste,1,$4.17,$4.17

# Most Profitable Items
## Sort the above table by total purchase value in descending order
## Optional: give the displayed data cleaner formatting
## Display a preview of the data frame

In [1104]:
most_profitable_items["Item Price"] = "$"+most_profitable_items["Item Price"].astype(str)

In [1105]:
most_profitable_items["Total Purchase Value"] = "$"+most_profitable_items["Total Purchase Value"].astype(str)

In [1106]:
most_profitable_items

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.9,$44.1
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.8
...,...,...,...,...
28,"Flux, Destroyer of Due Diligence",2,$1.06,$2.12
126,Exiled Mithril Longsword,1,$2.0,$2.0
125,Whistling Mithril Warblade,2,$1.0,$2.0
104,Gladiator's Glaive,1,$1.93,$1.93
42,The Decapitator,1,$1.75,$1.75